<!DOCTYPE html>
<html>
    <head>
        <title>Dawid W.</title>
        <link rel="stylesheet" href="assets/css/Style-cv.css"/>
    </head>

    <body>
        <main>

            <header>
                <img class="profile-picture" src="Images/photo.jpeg"/>
                <div>
                    <h1>Dawid Wieclaw</h1>
                    <p style="padding-right: 2em;">En pleine réorientation vers la programmation,
                        je m’appuie sur ma créativité et ma motivation pour progresser rapidement.
                        J’aime concevoir des solutions claires et travailler en équipe dans un esprit positif.
                    </p>
                </div>

            </header>

                <section>
                    <div>
                    <h2>EXPÉRIENCES PROFESSIONNELLES</h2>
                    <ul>
                        <div id="exp">
                            <li><b>AGENT DE TRANSITE INTERNATIONALE | <a target="_blank" href="https://blslogistics.pl/">BLS</a> | Rzeszow </b></li>
                            <span><b>mars 2024 - janv. 2025</b></span>
                            <p> Organisation optimale des transports internationaux</p>
                            <p> Suivi proactif et gestion des véhicules sur le long terme</p>
                            <p> Négociation stratégique sur les bourses de transport</p>
                            <p> Amélioration des délais de livraison grâce à une planification efficace</p>
                            <p> Analyse des performances pour identifier des opportunités d'amélioration</p>
                        
                        

                        <li><b>CHAUFFEUR | <a target="_blank"  href="https://blslogistics.pl/">BLS</a> | Rzeszow </b></li>
                        <span><b> sept. 2023 - févr. 2024 </b></span>
                        <p>Réception, transport et livraison de colis à l’échelle européenne avec efficacité et ponctualité</p>
                        <p> Respect des normes de sécurité et de réglementation en matière de transport</p>
                        <p> Suivi et reporting des livraisons pour garantir la satisfaction client</p>

                        <li><b>MÉCANICIEN AUTOMOBILE | <a target="_blank"  href="https://sosmechanika.pl/">SOS Garage</a> | Lezajsk</b></li>
                        <span><b>févr. 2023 - déc. 2023</b></span>
                        <p> Diagnostic approfondi et réparation efficace de véhicules automobiles</p>
                        <p>Préparation soignée pour une peinture de carrosserie impeccable</p>
                        <p> Interventions rapides réduisant le temps d'immobilisation des véhicules</p>
                        <p> Surveillance de l'état technique des équipements et outils</p>

                        <li><b>MÉCANICIEN AUTOMOBILE | W | Tarnogrod</b></li>
                        <span><b> 2020 - févr. 2023</b></span>
                        <p> Réparation de véhicules automobiles</p>
                        <p> Utilisation d'outils modernes et de technologies avancées pour garantir la qualité des interventions</p>
                        <p> Respect rigoureux des normes de sécurité et de qualité</p>
                        <p> Formation approfondie en diagnostic pour résoudre rapidement les problèmes mécaniques</p>

                        <li><b>APPRENTI | W | Tarnogrod</b></li>
                        <span><b>août 2019 - août 2020</b></span>
                        <p>Formation pratique en diagnostic automobile</p>
                        <p> Acquisition d'une expertise dans l'utilisation d'outils de diagnostic de pointe</p>
                        <p> Développement de compétences en résolution de problèmes complexes dans un environnement dynamique</p>
                    </ul>
                    </div>

                    <div class="vl"></div>


                    <div id="moi">
                         <address>
                        <h3>Adresse</h3>
                        <ul>
                            <li><img src="Images/mail.png"/>d4025@outlook.com</li>
                            <li><img src="Images/phone.png"/>07 83 05 57 28</li>
                            <li><img src="Images/house.png"/>Vitry sur Seine</li>
                            <li><img src="Images/cake.png"/>03/05/2000</li>
                        </ul>
                        </address>
                        
                        <div id="language">
                        <h3>Langues</h3>
                        <ul>
                            <li><img src="Images/fr.png"/>Fançcais-(C2)</li>
                            <li><img src="Images/eng.png"/>Anglais-(B1)</li>
                            <li><img src="Images/pl.png"/>Polonais-(C2)</li>
                        </ul>
                        </div>

                        <address>
                        <h3>Loisirs</h3>
                        <ul>
                            <li><img src="Images/build.png"/>Mécanique</li>
                            <li><img src="Images/speaker.png"/>Musique</li>
                            <li><img src="Images/handyman.png"/>Bricolage</li>
                        </ul>  
                         </address>

                    </div>
                </section>
        </main>
    </body>


</html>