<div class="user-details">
  <h1> Porjets Récents </h1>
</div>

<div class="user-projects" style="margin-bottom: 10rem;">
  <div class="images-right">
    <img alt="Klivio page phoot" src="{{ "/assets/img/Klivio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Klivio </h3>
    <p>Klivio, un site de vente de formations.
      Premier projet de la première année de formation a la Web Academie de Epitech réalisé avec HTML et CSS
    </p>
    <a class="project-link" href="https://lblrs.github.io/">Visiter</a>
  </div>
</div>


<div class="user-projects" style="margin-bottom: 10rem;">
  <div class="images-right">
    <img alt="Klivio 2 page photo" src="{{ "/assets/img/Klivio2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Klivo 2 </h3>
    <p>Klivio 2 est la deuxième partie du projet Klivio. Réalisé avec Tailwind</p>
    <a class="project-link" href="https://lblrs.github.io/klivio-2/">Visiter</a>
  </div>
</div>


<div class="user-projects" style="margin-bottom: 10rem;">
  <div class="images-right">
    <img alt="Epitalk page photo" src="{{ "/assets/img/Epitalk.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Epitalk </h3>
    <p>Epitalk est un projet en groupe réalisé en Prepa avec Z-Code.
      Epitalk permet aux neuveaux étudiants d'Epitech de parler avec un chatbot 
      pour répondre a toutes les questions et générer leur carte étudiant </p>
    <a class="project-link" href="#">Visiter</a>
  </div>
</div>

